          </ul>
        </div>
        <div class="footer">
          <span id="footer-links">
            <a href="" class="footer-link">About</a> <span class="separator">&bull;</span>
            <a href="" class="footer-link">Twitter</a> <span class="separator">&bull;</span>
            <a href="" class="footer-link">GitHub</a>
          </span>
        </div>
      </div>

        {{ content }}

    </div>
    <script src="/scripts/responsive.js" type="text/javascript"></script>
  </body>
</html>
